.employee-details-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--bgSoft);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.employee-details-title {
    font-size: 24px;
    font-weight: bold;
    color:var(--textSoft);
    margin-bottom: 20px;
    text-align: center;
}

h2{
    font-weight: bold;
    color:var(--textSoft);   
}
.employee-details-content {
    font-size: 16px;
    line-height: 1.6;
    color:var(--text);
}

.employee-details-content p {
    margin-bottom: 10px;
}

.contact-link {
    text-decoration: none;
    color:var(--textSoft);
}

.contact-icon {
    margin-right: 5px;
    vertical-align: middle;
    color:var(--textSoft);
}
