.main {
    margin: 20px auto; 
    padding: 20px;
    background-color: var(--bgSoft);
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    color: var(--text); 
    display: flex;
    justify-content: space-between;
}

.rotating-sentences {
    font-size: 35px;
    margin-top: 50px;
    transition: opacity 0.5s ease-in-out;
}

.rotating-sentences p {
    opacity: 1;
    transition: opacity 1s ease-in-out;
    margin: 5px 0;
}

.logo {
    width: 20vw;
}
