.footer {
    padding: 20px;
    border-radius: 10px;
    background-color: var(--bgSoft);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    color: var(--textSoft);
    font-weight: bold;
}
/* p{
    align-items: center;
    justify-content: center
} */

.footer-menu {
    display: flex;
    gap: 20px;
}

/* .footer-input {
    background-color: transparent;
    border: none;
    color: var(--text)
} */

.footer-icons {
    display: flex;
    gap: 20px;
}
.footer-text{
    font-size: 12px;
}