.register-page {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--textSoft);
}

.register-page-form {
    background-color: var(--bgSoft);
    padding: 50px;
    border-radius: 10px;
    width: 500px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px
}

.register-page-form input {
    width: 100%;
    padding: 30px;
    border: solid 2px var(--text);
    border-radius: 5px;
    background-color: var(--bg);
    color: var(--text)
}

.register-page-form button {
    width: 100%;
    padding: 30px;
    background-color: var(--text);
    color: var(--textSoft);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: large;
}

.navigation .register {
    background-color: var(--text);
    color: var(--textSoft);

} 

.navigation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    cursor: pointer;
    width: 350px;
    height: 50px;
    margin-bottom: 20px;
    border: solid 2px var(--text);
    border-radius: 5px;
    /* overflow: hidden; */
    
}

.navigation .login, 
.navigation .register {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    color: var(--text);

}

.navigation .current {
    background-color: var(--text);
    color: var(--textSoft);
}
