.families-list {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.families-list-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.families-list-add-button {
  padding: 10px;
  background-color: #c3c957;
  color: var(--text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.families-list-table {
  width: 100%;
}

.families-list-table td {
  padding: 10px;
}

.families-list-famly {
  display: flex;
  align-items: center;
  gap: 10px;
}

.families-list-famly-image {
  border-radius: 50%;
  object-fit: cover;
}

.families-list-buttons {
  display: flex;
  gap: 10px;
}

.families-list-button {
  padding: 5px 10px;
  border-radius: 5px;
  color: var(--text);
  border: none;
  cursor: pointer;
}

.families-list-view {
  background-color: teal;
}

.toggle-button {
  width: 50px;
  height: 25px;
  background-color: #ccc;
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-button .toggle-circle {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}

/* .toggle-button.on {
  background-color: #007bff;
} */

.toggle-button.on .toggle-circle {
  transform: translateX(-25px);
}

.toggle-button.off .toggle-circle {
  transform: translateX(0);
}



