.families-list {
  background-color: var(--bgSoft);
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.families-list-top {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-between;
}

.families-list-add-button {
  color: var(--textSoft);
  cursor: pointer;
}

.families-cards {
  display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.family-card {
  background-color: var(--bg);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  min-width: 80vw;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  align-items: center;
}

.family-card-header {
  margin: 10px;
}

.family-name {
  font-size: 18px;
  font-weight: bold;
}

.family-card-body {
  margin-bottom: 10px;
}

.family-card-actions {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.family-card-button {
  padding: 5px 10px;
  color: var(--textSoft);
  cursor: pointer;
  font-size:20px;
  border: none;
  background-color: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
}


.families-list-top button {
  background-color: var(--bgSoft); 
  color: var(--textSoft); 
  border: none;
  border-radius: 5px; 
  padding: 10px 20px; 
  font-size: 16px; 
  cursor: pointer;
}


.families-list-top button.active {
  color: var(--text);
}








.family-card-actions {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.family-card-button {
  padding: 5px 10px;
  color: var(--textSoft);
  cursor: pointer;
  font-size: 20px;
  border: none;
  background-color: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.status-text {
  font-size: 16px;
  margin-left: 5px;
}

.file-text, .edit-text {
  font-size: 16px;
  margin-left: 5px;
}

.toggle-button {
  display: flex;
  align-items: center;
  gap: 5px;
}

.toggle-circle {
  display: flex;
  align-items: center;
  justify-content: center;
}



.family-card-actions {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.family-card-button {
  padding: 5px 10px;
  color: var(--textSoft);
  cursor: pointer;
  font-size: 20px;
  border: none;
  background-color: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.status-text {
  font-size: 14px; /* גודל כתב קטן יותר */
  margin-left: 5px;
}

.file-text, .edit-text {
  font-size: 14px; /* גודל כתב קטן יותר */
  margin-left: 5px;
}

.toggle-button {
  display: flex;
  align-items: center;
  gap: 5px;
}

.toggle-circle {
  display: flex;
  align-items: center;
  justify-content: center;
}

