.add-family-container {
  display: flex;
  gap: 50px;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 20px;
  background-color: var(--bgSoft);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.add-family-form input,
.add-family-form textarea,
.add-family-form select {
  padding: 20px;
  border: 2px solid #2e374a;
  border-radius: 5px;
  background-color: var(--bg);
  color: var(--text);
  margin: 10px 0px;
}

.add-family-form label {
  font-size: 12px;
}

.button {
  width: 100%;
  padding: 20px;
  color: var(--textSoft);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  background-color: var(--text);
}

.add-button {
  padding: 5px 10px;
  color: var(--textSoft);
  cursor: pointer;
  border: none;
  background: none;
}

.add-button.submit {
  background: var(--textSoft);
  color: var(--bg);
  padding: 0.5em;
  border-radius: 0.3em;
}

.chai {
  display: grid;
  grid-column: auto auto;
}

.children-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.children-header h3 {
  margin: 0;
}

.children-list label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.children-list input {
  margin: 5px 0;
}


.add-family-info {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  font-weight: bold;
  height: max-content;
  /* width: 100%; */
  background-color: var(--text);
  color: var(--textSoft);
  font-size: large;
}

.add-family-form {
  display: flex;
  flex-direction: column;
}